body{
  background-color: white;
  color: fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.6em;
  margin: 0
}
#header{
  padding: 60px;
  text-align: center;
  background: #1a9bde;
  color: white;
  font-size: 45px;
}

img {
  border: 5px solid #1a9bde;
}

.block{
  float: left;
  width:33.3%;
  border:3px solid #1a9bde;
  padding; 10px;
  box-sizing: border-box;
}

.textwrap{
  float: left;
  margin: 10px;
}
.box3{
  background-color: #333;
  color: white;

}
.box1{
  float: left;
  width:50%;
  border:1px solid #ccc;
  padding; 10px;
  box-sizing: border-box;
}
